.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrp {
  position:relative;
  max-width: 1200px;
  margin: 0px auto;
  min-height: 100%;
  bottom: 100%;
  background-color:#FFF;
}

.page {
  /* Critical position and size styles */
  min-height: 100%;
  position: relative;
  top: 0px;
  bottom: 100%;
  left: 0;
  z-index: 1;
  /* background: #F3F3F3 url('https://s3-media0.fl.yelpcdn.com/assets/srv0/yelp_large_assets/252051bf4fce/assets/img/home/hero_photos/oYJx-YOK9dqe0F56bS2tDQ.jpg') repeat 0 0;  */
  /* non-critical apperance styles */
}

.filter { 
  float:left;
  width: 10%;
  background-color: #9CF;
}

.list {
  float:left;
  width: 40%;
  background-color: #f2f2f2;
}

.map {
  float:left;
  width: 50%;
  background-color: #CFC;
}

.contact {
  float:left;
  width: 20%;
  background-color: #FC9;
}

header {
  margin: 0 10px 20px 10px;
  padding: 20px 10px;
  background-color: #CCC;
}

.logo {
  float:left;
  width: 20%;
}

.searchBar {
  float:left;
  width: 80%;
}

.listBox {
  margin: 10px;
  padding: 10px;
  border:solid #CCC 1px;
}

.detail {
  float:left;
  width: 80%;
  background-color: #f2f2f2;
}

.clear {
  clear:both; 
}